<template>
    <div class="lstcategoria">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <router-link to="/">Inicio</router-link>
                    </li>
                    <li class="breadcrumb-item active" v-html="$route.params.slug"></li>
                </ol>
            </div>
            <div class="col-12">
                {{ $route.params.slug }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>

<style lang="sass">
    @import "../assets/sass/variables.sass";
    .lstcategoria{
        padding: 30px 0;
        margin-top: 155px;
    }
    @media (max-width: 540px) {
        .lstcategoria{
            margin-top: 82px !important;
        }
    }
</style>
