<template>
    <footer id="footer">
        <div class="row">
            <div class="col-sm-4 foot_left">
                <p><img v-bind:src="imgLogoFooter" width="100"></p>
                <br>
                <p>© Empresa Lima 22</p>
                <p>Jr. Buenaventura #20 Lima 22 Perú</p>
                <p>Copyright © lima22.pe</p>
                <p>Lima22 - Todos los derechos reservados.</p>
            </div>
            <div class="col-sm-4 foot_middle">
                <p><span class="text-uppercase">Director General:</span><br>
                Francisco Cantuarias</p>

                <p><span class="text-uppercase">Director Periodístico:</span><br>
                Fernando Martinez</p>

                <p><span class="text-uppercase">Publicidad Online:</span><br>
                fonoavisos@lima22.pe</p>
            </div>
            <div class="col-sm-4 foot_right">
                <p class="text-uppercase">Términos y condiciones de uso</p>
                <p class="text-uppercase">Trabaja para Grupo El Comercio</p>
                <p class="text-uppercase">Libro de Reclamaciones</p>
                <p class="text-uppercase">Oficinas Concesionarias</p>
                <p class="text-uppercase">Principios Rectores</p>
                <p class="text-uppercase">Políticas de Privacidad</p>
            </div>
        </div>
    </footer>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'footer',
        data: () => ({
          imgLogo: require('../assets/img/lima22-logo.png'),
          imgLogoFooter: require('../assets/img/lima22-white.png'),
          imgSearch: require('../assets/svg/search.svg'),
          menus: [],
          errors: []
        }),
        created() {}
    }
</script>

<style lang="sass" scoped>

    footer{
        padding: 40px 0;
        font-size: 11px;
        margin-top: 30px;
        font-family: "Lato", sans-serif;
        background-image: -ms-linear-gradient( 90deg, rgb(248,208,0) 0%, rgb(221,186,2) 100%);
        background-image: -moz-linear-gradient( 90deg, rgb(248,208,0) 0%, rgb(221,186,2) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(248,208,0) 0%, rgb(221,186,2) 100%);
        p{
            color: #000;
            margin-bottom: 0;
            letter-spacing: 1px;

        }
        .foot_middle,
        .foot_right{
            max-height: 200px;
            border-left: 1px solid #000;
            p:last-child,
            p:last-child{
                padding-bottom: 0 !important;
            }
        }
        .foot_middle{
            p{
                padding-left: 20px;
                padding-bottom: 10px;
            }
        }
        .foot_right{
            p{
                padding-left: 20px;
                padding-bottom: 5px;
            }
        }
    }


</style>
