<template>
    <header class="container-fluid" id="header">
        <!--
            <div class="col-lg-4 text-right">
                <form class="form-inline float-right search-nav">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <button type="submit" class="btn btn-primary">
                            <img v-bind:src="imgSearch">
                        </button>
                    </div>
                </form>
            </div>
        -->
        <nav class="navbar navbar-expand-md fixed-top yellow">
            <router-link to="/" class="navbar-brand"><img v-bind:src="imgLogo" width="250"></router-link>
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarsMenu" aria-controls="navbarsMenu" aria-expanded="false" aria-label="Toggle navigation">
                <img src="../assets/svg/menu.svg" width="25" alt="">
            </button>

            <div class="head_menu hidden-sm-down">
                <router-link :to="'/seccion/'+item.slug" v-html="item.name" v-for="item in menus"></router-link>
            </div>

          <div class="collapse navbar-collapse container-fluid head_menu" id="navbarsMenu" style="">
            <ul class="navbar-nav mr-auto list-inline">
              <li v-for="item in menus">
                  <router-link :to="'/seccion/'+item.slug" v-html="item.name"></router-link>
              </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
          </div>
        </nav>
    </header>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'header',
        data: () => ({
          imgLogo: require('../assets/img/lima22-logo.png'),
          imgSearch: require('../assets/svg/search.svg'),
          menus: [],
          errors: []
        }),
        created() {
          // MENU WORDPRESS
          axios.get(`http://manager.lima22.pe/wp-json/wp/v2/categories/?exclude=10,5&filter[orderby]=id&order=asc`)
          .then(response => {
            this.menus = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
        }
    }
</script>

<style lang="sass">
    header{
        top: 0 !important;
        left: 0;
        right: 0;
        height: 120px;
        z-index: 99999;
        position: fixed !important;

        button.navbar-toggler{
            left: 0 !important;
            top: 25px !important;
            position: absolute !important;
        }

        .head_menu{
            margin-left: -15px;
            margin-right: -15px;
            background-color: rgb(255, 255, 255) !important;
            a{
                font-size: 15px;
                font-weight: 700;
                padding: 10px 20px;
                display: inline-block;
                text-decoration: none;
                color: #555 !important;
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
                &:hover{
                    font-weight: 900;
                    color: #eca315 !important;
                }
            }
            a.router-link-active{
                font-weight: 900;
                color: #eca315 !important;
            }
            li{
                a{
                    font-size: 15px;
                    font-weight: 700;
                    padding: 10px 20px;
                    display: inline-block;
                    text-decoration: none;
                    color: #555 !important;
                    text-transform: uppercase;
                    font-family: 'Open Sans', sans-serif;
                    &:hover{
                        font-weight: 900;
                        color: #eca315 !important;
                    }
                }
                a.router-link-active{
                    font-weight: 900;
                    color: #eca315 !important;
                }
            }
        }

        .logo{
            img{
                padding: 5px 10px;
            }
        }

        .search-nav{
            margin-top: 25px;

            input, input:focus,
            button, button:hover{
                border: 0;
                background: none;
            }
            input{
                font-size: 15px;
                font-weight: 700;
                text-align: right;
                letter-spacing: .5px;
                font-family: 'Open Sans', sans-serif;
            }
            input::-webkit-input-placeholder{
                color: #000
            }
            input:-ms-input-placeholder{
                color: #000
            }
            input::-moz-placeholder{
                color: #000
            }
        }

    }

    .yellow{
        padding: 0 !important;
        background: -ms-linear-gradient( 90deg, rgb(220,185,3) 0%, rgb(248,208,0) 100%);
        background: -moz-linear-gradient( 90deg, rgb(220,185,3) 0%, rgb(248,208,0) 100%);
        background: -webkit-linear-gradient( 90deg, rgb(220,185,3) 0%, rgb(248,208,0) 100%);
    }


</style>
