<template>
    <div class="noticia">
        <!-- {{ $route.params.slug }} -->
        <div class="container post">
            <div class="row">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <router-link to="/">Inicio</router-link>
                    </li>
                    <li class="breadcrumb-item active" v-for="item in noticia" v-html="item.title.rendered"></li>
                </ol>
                <div class="col-lg-12" v-for="item in noticia">
                    <h3 class="text-left" v-html="item.title.rendered"></h3>
                    <h5 class="text-left" v-html="item.acf.extracto_de_noticia"></h5>
                </div>
                <div class="col-lg-8" v-for="item in noticia">
                    <div class="picture pd_20_0" v-for="gal in item.acf.imagen_principal">
                        <img :src="gal.sizes.large" class="img-fluid" alt="">
                    </div>
                    <div class="share text-left" v-for="item in noticia">
                        <span class="float-left">Compartir</span>
                        <social-sharing :url="'http://dev.lima22.pe/'+item.slug"
                            :title="item.title.rendered"
                            :description="item.acf.extracto_de_noticia"
                            :quote="item.acf.extracto_de_noticia"
                            hashtags="vuejs,javascript,framework"
                            twitter-user="vuejs"
                            inline-template>
                            <div class="share_swiper">
                                <network network="email">
                                    <i class="fa fa-envelope"></i>
                                </network>
                                <network network="facebook">
                                    <i class="fa fa-facebook"></i>
                                </network>
                                <network network="googleplus">
                                    <i class="fa fa-google-plus"></i>
                                </network>
                                <network network="twitter">
                                    <i class="fa fa-twitter"></i>
                                </network>
                                <network network="whatsapp">
                                    <i class="fa fa-whatsapp"></i>
                                </network>
                            </div>
                        </social-sharing>
                    </div>
                    <div class="text-left content float-left" v-html="item.content.rendered"></div>
                    <div class="share text-left" v-for="item in noticia">
                        <span class="float-left">Compartir</span>
                        <social-sharing :url="'http://dev.lima22.pe/'+item.slug"
                            :title="item.title.rendered"
                            :description="item.acf.extracto_de_noticia"
                            :quote="item.acf.extracto_de_noticia"
                            hashtags="vuejs,javascript,framework"
                            twitter-user="vuejs"
                            inline-template>
                            <div class="share_swiper">
                                <network network="email">
                                    <i class="fa fa-envelope"></i>
                                </network>
                                <network network="facebook">
                                    <i class="fa fa-facebook"></i>
                                </network>
                                <network network="googleplus">
                                    <i class="fa fa-google-plus"></i>
                                </network>
                                <network network="twitter">
                                    <i class="fa fa-twitter"></i>
                                </network>
                                <network network="whatsapp">
                                    <i class="fa fa-whatsapp"></i>
                                </network>
                            </div>
                        </social-sharing>
                    </div>
                </div>
                <div class="col-lg-4 ultimas_noticias">
                    <h4>Últimas noticias</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    hoy en portada
                </div>
            </div>

        </div>
        <!-- {{ $data.noticia[0].categories[0] }} -->
        <pre>
            {{ $data.categorias }}
        </pre>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: 'noticia',
        mounted: function() {
    		this.getNoticia();
            this.getCategoria();
    	},
        data: () => ({
            noticia: [],
            categorias: [],
            errors: [],
            title: 'Lima 22'
        }),
        head: {
            title: function () {
                return {
                    inner: this.title
                }
            }
        },
        methods: {
            getNoticia: function(){
                axios.get(`http://manager.lima22.pe/wp-json/wp/v2/posts/?slug=` + this.$route.params.slug )
                .then(response => {
                    this.noticia = response.data
                })
                .catch(e => {
                    this.errors.push(e)
                })
            },
            getCategoria: function(){
                axios.get(`http://manager.lima22.pe/wp-json/wp/v2/categories/`)
                .then(response => {
                    this.categorias = response.data
                })
                .catch(e => {
                    this.errors.push(e)
                })
                // console.log(' ░▒▓ ★ ▓▒░')
            }
        }
    }
</script>

<style lang="sass">

    @import "../assets/sass/variables.sass";

    .breadcrumb{
        background: transparent;
        li{
            color: #666;
            font-weight: 900;
            font-size: 14px;
            text-decoration: none;
            a{
                color: #666;
                font-weight: 900;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }

    .noticia{
        margin-top: 150px;
        padding: 30px 0;
        h3{
            font-weight: 900;
            font-size: 22px;
        }
        h5{
            color: #444;
            padding: 15px 0 0;
            font-size: 17px !important;
        }
        .content{
            width: 100%;
            position: relative;
            p{
                font-weight: 500;
                font-size: 18px;
                line-height: 1.5;
                margin-bottom: 25px;
                word-wrap: break-word;
            }
            img.alignleft{
                float: left;
                padding: 0 20px 20px 0;
            }
        }

        .ultimas_noticias{
            margin: 20px 0 0 0;
        }
        .share{
            width: 100%;
            float: left;
            margin: 0 0 20px;
            position: relative;
            padding: 10px 0 10px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            span{
                color: #000;
                font-size: 14px;
                font-weight: 900;
                padding: 5px 0;
            }
            .share_swiper{
                float: left;
                padding: 0 10px;
                span{
                    padding: 0 2px;
                }
                .fa{
                    color: #555;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    padding: 6px 4px 4px 6px;
                    font-size: 16px !important;
                }
            }
        }
    }

    @media (max-width: 540px) {
        .noticia{
            margin-top: 82px !important;
        }
    }

</style>
