<template>
  <div id="app">

    <navigation></navigation>

    <transition name="fade" mode="out-in" v-on:after-enter="afterEnter" appear>
        <router-view></router-view>
    </transition>

    <Piepagina></Piepagina>

  </div>
</template>

<script>

    import Navigation from './components/Header.vue';
    import Piepagina from './components/Footer.vue';

    export default {
        name: 'app',
        components: {
            Navigation,
            Piepagina
        },
        methods: {
            scrollBehavior (to, from, savedPosition){
                return { x: 0, y: 0 }
            },
            afterEnter: function (el) {
                document.getElementById("navbarsMenu").classList.add('collapsing')
                document.getElementById("navbarsMenu").classList.remove('collapsing')
                document.getElementById("navbarsMenu").classList.remove('show')
                this.scrollBehavior()
            }
        },
    }
</script>
<style lang="sass">
  @import './assets/sass/lima22.sass'
</style>
