.fade-enter-active, .fade-leave-active
  transition: opacity 0.3s

.fade-enter, .fade-leave-active
  opacity: 0

body
    overflow-x: hidden
    background: #ebebeb
    font-family: 'Avenir', Helvetica, Arial, sans-serif

#app
    color: #2c3e50
    text-align: center
    letter-spacing: 1px
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    font-family: 'Avenir', Helvetica, Arial, sans-serif !important
